body{
  background-color: hsl(218, 28%, 13%);
overflow-x:hidden;
margin-right: 0;
  color: #fff;
  text-align: center;
padding:0 0 0 0;
width: 100%;
}
h1
{
    color:hsl(0, 0%, 100%);
}
h2{
  text-align: center;
  padding:0 30%;
  font-size: 16px;
}
h6
{ padding-right:200px;
  font-size: 12px;
}
#title
{
  padding-bottom: 150px;

}


.intropara{
    color:hsl(0, 0%, 100%);
    padding:4% 20% 4%;
}
.intro
{
  text-align: center;
  padding:0 25%;

}
/* NAVIGATION BAR */
.navbar
{  padding:70px 50px 50px 50px;
}
.nav-link
{
    color:hsl(0, 0%, 100%);
}
.nav-item
{   padding:0 18px;

}
.navbar-toggler
{


}
.btn
{ color: #fff;
  background-color:#3edbf0;
  border-radius: 25px;
  width: 200px;


}
.btn:hover
{
  background-color: #b0efeb;
}
.button-text1{
  margin-bottom: 4px;
  margin-top: 4px;
  margin-left: 55px;
  margin-right: 0px;
}
.features
{  margin:0 25%;
  text-align: center;
  font-size: 12px;

}
.features-heading
{
  padding-top:20px;
}
.feature-image
{
  margin-top: 80px;
}
.row1
{  margin-right: 0;
  padding-bottom: 80px;
}
.left-image{
  padding-left:15%;
}
.right-image{
  padding-right:15%;
}
.productive{
  text-align: left;
}
.working{
  color: #3edbf0;
  text-decoration: underline;
}
.row2
{ margin-right: 0;
  padding: 150px 5.5% ;
}
.text1
{
  padding: 100px;
}
/* TESTIMONIALS */
.img3
{
  border-radius: 100%;
  height: 40px;
  width:40px;

}
.row3
{
  margin:0% 10% 10%;

}
.card
{ text-align: left;


  background-color: hsl(219, 30%, 18%);
}
.customer-name{
  font-size:10px;



}
.custom-name{
font-size: 10px;
margin-bottom:3px;

font-weight: bold;
}
.img3
{
  float: left;
}
.card-body
{
  padding-bottom: 2px;
}
.comma
{margin-right: 74%;
}


/* GET STARTED */
.getstarted
{
  background-color:hsl(217, 28%, 15%);
  padding:5% 5% 5% 5%;
  width:60%;
  margin:auto;
  position: relative;
z-index: 1;
top:100px;

}

.last-button{
  width:200px;
margin-left: 18%;
color: #fff;
}
.button-text{
  margin-bottom: 4px;
  margin-top: 4px;
  margin-left: 25px;
  margin-right: 0px;
}

/* FOOTER */

.page-footer
{ position: absolute;
  padding: 200px 30px 100px 30px;
  background-color: hsl(216, 53%, 9%);
  width: 100%;

}
.footer-logo
{
  margin-right: 80%;

}
.icon{
  color: #fff;
}
.icon-last
{ width:100px;
  margin-left: 10%;
}
.form-control
{
  border-radius: 25px;
}

/* MEDIA QUERIES */

@media (max-width:1024px) {
body{
  overflow-x:hidden;
  margin-right: 0;
}
.intro-image
{
width: 100%;
}
.left-image{
  margin-right: 12%;
}
.right-image
{
  margin-left: 12%;
}
.productive-image
{ padding-left: 10%;
  width: 100%;
}
.productive
{  padding-left: 5%;
  padding-right: 8%;
  text-align: left;
}
.card
{
margin-bottom: 5%;
}
.comma
{
  margin-right: 70%;
}
.row4
{
  text-align: left;
}
.icon-last
{ margin-left: 13%;
  text-align: center;
  padding-left: 10%;
}
.last
{
  padding-bottom: 18px;
}
.last-button
{ margin-left: 25px;
  margin-top: 20px;
  width:90%;;

}
.button-text{
  padding-left: 20%;
  padding-right: 20%;
}
.form-control
{
  padding-left: 30%;
  padding-right: 40%;
}
}
